{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

  {{ if .Site.Params.showAuthorOnHomepage }}
    {{ partial "author-large.html" . }}
  {{ end }}

  <div class="intro">
    <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
    {{ if .Site.Params.showIntroContentOnHomepage}}
      <div class="intro-content">{{ .Content }}</div>
    {{ end }}
  </div>

  {{ if .Site.Params.showPostsOnHomepage }}

    {{ $pages := where .Site.RegularPages "Type" "posts" }}
    {{ $sorted := ($pages.ByParam "date").Reverse }}
    {{ if .Site.Params.sortPostsByDateOldestFirst }}
      {{ $sorted = $pages.ByParam "date" }}
    {{ end }}

    {{ $paginator := .Paginate $sorted }}

    {{ if .Site.Params.usePaginationOnHomepage }}
      {{ range $paginator.Pages }}
        {{ .Render "summary" }}
      {{ end }}
      {{ partial "paginator" . }}
    {{ else }}
      {{ $limit := .Site.Params.limitPostsOnHomepage | default 3 }}
      {{ range first $limit $sorted}}
        {{ .Render "summary" }}
      {{ end }}
      <a style="font-family: Young Serif;" class="view-more" href="/posts">More Posts</a>
    {{ end }}
  {{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
